.cabeçalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/*Checked verifica se o checkbox esta preenchido e vai ao lista-menu e adiciona display:block*/
.container_botao:checked~.lista-menu{
    display: block;
}

.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo{
    color: var(--laranja);
}

.lista-menu_link{
   background: var(--azul-degrade);
   -webkit-background-clip: text;/*Aplica só onde tiver textos*/
   -webkit-text-fill-color: transparent;
   background-clip: text;
   /*webkit para funcionar em outros navegadores*/
    text-transform: uppercase;
}